<div style="font-family: Arial, sans-serif; padding: 30px; max-width: 600px; margin: 0 auto">
  <div style="text-align: center; margin-bottom: 20px">
    <h2 style="margin: 0">Confirmez votre compte</h2>
  </div>

  <div style="background-color: #f7f7f7; padding: 20px; border-radius: 5px">
    <p style="margin: 0">Dear <b style="color: #333"><%= variables.name %></b>,</p>
    <p style="margin: 0; margin-top: 10px">
      Merci d'avoir créé un compte chez nous. Pour terminer le processus d'inscription, veuillez
      cliquer sur le bouton ci-dessous pour confirmer votre compte.
    </p>
    <div style="text-align: center; margin-top: 20px">
      <a
        href="<%= variables.confirmationLink %>"
        style="
          background-color: #4caf50;
          color: white;
          text-decoration: none;
          padding: 12px 24px;
          border-radius: 5px;
        "
        >Confirmer le compte</a
      >
    </div>
    <p style="margin: 0; margin-top: 10px">
      Merci pour votre temps, et nous espérons vous voir bientôt!
    </p>
  </div>

  <div style="text-align: center; margin-top: 20px">
    <p style="margin: 0">Cordialement,</p>
    <p style="margin: 0">Momenzo</p>
  </div>
</div>

<style>
  @media (max-width: 600px) {
    div {
      padding: 15px;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }

    a {
      font-size: 12px;
      padding: 8px 1rem (6);
    }
  }
</style>
